@import url(login.css);

#vendedorCadastro{
    margin-top: 74px;
    background: transparent;
}

#pgInicial{
    color: rgb(255, 255, 255);
}

#pgLogin{
    color: rgb(255, 255, 255);
}

#alerta{
    color: green;
}

input[type="text"]{
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid rgb(94, 92, 92);;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"]:hover{
    background-color: rgb(4, 90, 18);
}

#msgErro{
    color: red;
    font-size: 20px;
    font-weight: bold;
    display: none;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 -140px; /* Espaçamento entre os itens */
    margin-left: 10px;
}

body {
    background-image: url("../imagensfundo/foto-seq-26-1183213025-avv-1604410306-dt-11-img-0402-1654306222.jpg");
    background-size: cover; /* Para cobrir toda a área do corpo */
    background-position: center; /* Para centralizar a imagem */
    background-repeat: no-repeat; /* Para evitar repetição da imagem */
}

form h1{
    color: rgb(255, 255, 255);
}

